USE [BCS]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateConferenceParticipant]    Script Date: 08/28/2008 13:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER procedure [dbo].[uspUpdateConferenceParticipant] (@ID uniqueidentifier ,@ParticipantType nvarchar(50) ,@Description nvarchar(50), @MacAddress nvarchar(50), @isActive int, @Mask int  ) AS 
IF NOT EXISTS (SELECT CDR.ID FROM utCDR AS CDR INNER JOIN utConferenceParticipant AS CP ON CDR.ConferenceParticipantID=CP.ID WHERE CP.ID=@ID)
BEGIN
	DECLARE @ParticipantTypeID uniqueidentifier
	SELECT @ParticipantTypeID=N'00000000-0000-0000-0000-000000000000'
	SELECT @ParticipantTypeID=ID FROM utParticipantType WHERE Name=@ParticipantType
	IF (@ParticipantTypeID <> N'00000000-0000-0000-0000-000000000000' AND @Description <> NULL AND @MacAddress <> NULL AND @isActive <> NULL)
	BEGIN
		UPDATE utConferenceParticipant SET Description=@Description,ParticipantType=@ParticipantTypeID, MacAddress=@MacAddress, isActive=@isActive, Mask=@Mask WHERE ID=@ID
	END
	ELSE
	BEGIN
		UPDATE utConferenceParticipant SET Mask=@Mask WHERE ID=@ID
	END
	EXEC dbo.uspPublishingPointSourceMuteAudio @ID, @Mask;
END

